@import "src/scss/vars";
.bodyLeft {
  display: flex;
  align-items: center;
}
.img {
  width: 20px;
  height: 20px;
  background-color: red;
  margin-right: 5px;
}
.bodyCenter {
  display: flex;
}
.bottomPanel {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.name {
  color: #dad5d5;
}
.imgName {
  display: flex;
}
.manaSpell {
  margin-left: 20px;
  color: black;
  width: 20px;
  height: 20px;
  background-color: #b3b9b3;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.enemy {
  margin-bottom: 0px;
  justify-content: flex-start;
  .img {
    margin-right: 0px;
  }
  .manaSpell {
    margin-left: 0px;
  }
  .manaSpell {
    margin-right: 10px;
  }
}
.setMana {
  position: absolute;
  white-space: nowrap;
  top: 0;
  right: 25px;
  font-weight: 700;
  animation-duration: 2s;
  animation-name: hpDamage;
}
.green {
  color: $green;
}
.red {
  color: $damageCard;
}

@keyframes hpDamage {
  0% {
    transform: translateY(0px) scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    transform: translateY(-3px) scale(0.5);
    opacity: 0;
  }
}
